

.spacer, .canvas {
	min-height: 100vh;
	display: grid;
	place-content: center;
}

.spacer {
	position: relative;
	z-index: 2;
}

.canvas {
	background-color: red;
	width: 100%;
	position: absolute;
	top: 85%;
	z-index: 1;
}

.navbar {
	position: fixed;
	display: flex;
	gap: 1rem;
	z-index: 10;
}

.navbar a.active {
	color: yellow;
}
